nrn                                 = ""
github_organization                 = ""
github_installation_id              = ""
domain_name                         = ""
organization                        = ""
account                             = ""
cluster_name                        = ""
np_api_key                          = ""
group_path                              = ""
access_token                            = ""
installation_url                            = ""
agent_repos_extra = []
tag_selectors = { "environment" = ""}

certificate_arn = ""

vpc = {
  azs  = ["us-east-1a", "us-east-1b", "us-east-1c"]
  cidr_block = "10.31.0.0/16"
  public_subnets = [
    "10.31.1.0/24",
    "10.31.2.0/24",
    "10.31.3.0/24",
  ]
  private_subnets = [
    "10.31.10.0/24",
    "10.31.11.0/24",
    "10.31.12.0/24",
  ]
}