nrn           = ""
domain_name   = ""
organization  = ""
account       = ""
cluster_name  = ""
np_api_key    = ""
tag_selectors = {"value_01": "key_01", "value_02": "key_02"}

group_path       = ""
access_token     = ""
installation_url = ""
collaborators_config = {
  collaborators = []
}
gitlab_repository_prefix = ""
gitlab_slug = ""

aws_region = ""
aws_profile = ""

vpc = {
  azs        = ["us-east-1a", "us-east-1b", "us-east-1c"]
  cidr_block = "10.31.0.0/16"
  public_subnets = [
    "10.31.1.0/24",
    "10.31.2.0/24",
    "10.31.3.0/24",
  ]
  private_subnets = [
    "10.31.10.0/24",
    "10.31.11.0/24",
    "10.31.12.0/24",
  ]
}